@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 345 53% 28%;
    --primary-foreground: 0 0% 100%;
    --primary-hover: 340 51% 39%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0 0% 100%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 345 53% 28%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 345 53% 28%;
  }

  .dark {
    /* #1D1F1F = hsl(180 0% 12%) */
    --background: 180 0% 12%;
    --foreground: 210 40% 98%;

    --card: 180 0% 12%;
    --card-foreground: 210 40% 98%;

    --popover: 180 0% 12%;
    --popover-foreground: 210 40% 98%;

    --primary: 0 0% 100%;
    --primary-foreground: 180 0% 12%;

    --secondary: 180 0% 18%;
    --secondary-foreground: 210 40% 98%;

    --muted: 180 0% 18%;
    --muted-foreground: 215 20.2% 70%;

    --accent: 180 0% 20%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 50%;
    --destructive-foreground: 210 40% 98%;

    --border: 180 0% 25%;
    --input: 180 0% 18%;
    --ring: 0 0% 100%;
    --sidebar-background: 180 0% 12%;
    --sidebar-foreground: 210 40% 85%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 180 0% 12%;
    --sidebar-accent: 180 0% 20%;
    --sidebar-accent-foreground: 210 40% 90%;
    --sidebar-border: 180 0% 25%;
    --sidebar-ring: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}